<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Post</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1><%= post.title %></h1>
    </header>

    <main class="main-content">
      <p><%= post.body %></p>
    </main>

    <hr />
    <footer>&copy; <%= currentYear %> - Daniel Sarney</footer>
  </body>
</html>
